.stops {
  margin: 14px 0 14px 14px;
  padding: 0;
  height: 100%;
  list-style-type: none;

  .full-width {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .stops {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-left: 0;
  }
}
