<div class="trips-holder">

  <div *ngIf="showMap; else noMap;">
    <div class="trip d-flex flex-column align-items-center justify-content-center" *ngFor="let trip of trips">

      <div class="trip-main-info d-flex align-items-center justify-content-between">

        <span class="direction">{{ trip.headerFrom }} to {{ trip.headerTo }}, {{ trip.city }}</span>
        <app-distance-done [estimation]="trip.estimatedDistance" [finished]="trip.finishedDistance"></app-distance-done>

      </div>

      <div class="trip-details d-flex align-items-stretch justify-content-start">
        <div class="direction d-flex flex-column align-items-stretch justify-content-start">
          <app-map [trip]="trip" [scrollwheel]="false"></app-map>
          <app-stops [trip]="trip"></app-stops>
        </div>

        <div class="right-bar">
          <app-right-bar
            [truckType]="trip.truckType" [driverName]="trip.drivenName"
            [orderId]="trip.orderId" [driverMobile]="trip.driverMobile"
            [trackingUrl]="trip.trackingUrl"
          ></app-right-bar>
        </div>
      </div>

    </div>
  </div>

  <ng-template #noMap>
    <div class="trip-nomap d-flex flex-column align-items-center justify-content-center" *ngFor="let trip of trips">

      <div class="trip-main-info-nomap line-bottom-nomap w-100 d-flex align-items-center justify-content-between">
        <div class="date-direction d-flex align-items-center justify-content-center">
          <span class="date" *ngIf="trip.date">{{ trip.date }}</span>
          <span class="direction">{{ trip.headerFrom }} to {{ trip.headerTo }}, {{ trip.city }}</span>
        </div>
        <!--TODO changed click handler to hyperlink to open in new tab
        <button class="button-flat" (click)="moveToDetails(trip.orderId)">More details <img class="more-arrow" src="/assets/Assets-Common/DropDown@2x.png" alt=""></button>-->
        <a routerLink="/track/{{trip.orderId}}" target="_blank" class="button-flat" >More details <img class="more-arrow" src="/assets/Assets-Common/DropDown@2x.png" alt=""></a>
      </div>

      <div class="direction-nomap line-bottom-nomap w-100">
        <app-stops [trip]="trip"></app-stops>
      </div>

      <div class="hor-bar-nomap line-bottom-nomap w-100" *ngIf="!bookingMode">
        <app-right-bar
            [horizontal]="true" [truckType]="trip.truckType"
            [driverName]="trip.drivenName"
            [driverMobile]="trip.driverMobile"
            [trackingUrl]="trip.trackingUrl"
        ></app-right-bar>
      </div>

      <div class="hor-bar-book line-bottom-nomap w-100 d-flex align-items-center justify-content-start" *ngIf="bookingMode">
        <div class="truck-type-hor d-flex align-items-center justify-content-center">
          <div class="crop" style="background-color: rgb(216, 216, 216)">
            <img src="" alt="">
          </div>

          <span>{{ trip.truckType }}</span>
        </div>

        <span class="allocation">Driver will be allocated 2 hours before trip</span>
      </div>


      <div class="action-buttons-nomap line-bottom-nomap w-100 d-flex align-items-center justify-content-between" *ngIf="!bookingMode">
        <div class="d-flex align-items-center justify-content-center">
          <span class="price" [ngClass]="{'paid': trip.paymentStatus === 'paid'}"><img class="rupee" [src]="trip.paymentStatus === 'paid' ? '/assets/Assets/Black_Indian_Rupee_symbol.png' : '/assets/Assets/Indian_Rupee_symbol.png'" alt="">{{ trip.price }}</span>
            <button class="button-flat button-blue" *ngIf="trip.paymentStatus != 'paid'" (click)="initiatePayment(trip)">Make Payment</button>
          <button class="button-flat disabled" disabled *ngIf="trip.paymentStatus == 'paid' ">Paid</button>
        </div>

        <div class="second-group d-flex align-items-center justify-content-center">
			<!--<button class="button-flat d-none d-sm-none d-md-flex d-lg-flex d-xl-flex" (click)="moveToInvoice(trip.orderId)">Print Invoice</button>-->
			<a routerLink="/invoice/{{trip.orderId}}" target="_blank" class="button-flat d-none d-sm-none d-md-flex d-lg-flex d-xl-flex">Print Invoice</a>
          <button class="button-flat" (click)="shareInvoice(shareContent, trip)">Email Invoice</button>
          <!-- <button class="button-flat button-flat-out" (click)="openRebooking(rebook, tripRebookCreated, trip)">Rebook</button>-->
          <a href="/?rebook={{trip.orderId}}" target="_blank" class="button-flat button-flat-out" >Rebook</a>
        </div>
      </div>

      <div class="action-buttons-nomap booking-actions line-bottom-nomap w-100 d-flex align-items-center justify-content-end" *ngIf="bookingMode">

        <div class="second-group booking d-flex align-items-center justify-content-center">
          <button class="button-flat" (click)="cancelBooking(cancelBookingModal, trip)">Cancel Booking</button>
		  <!-- TODO <button class="button-flat button-flat-out">Edit booking</button>-->
        </div>

      </div>

    </div>
  </ng-template>

</div>

<ng-template #shareContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Share invoice</h4>
  </div>
  <div class="modal-body">
    <span class="order-id">Trip ID : {{ selectedTrip.orderId }}</span>
    <app-user-list (setUsersList)="setUsersList($event)"></app-user-list>
  </div>
  <div class="modal-footer">
    <button type="button" class="button-flat" (click)="d('Cross click')">Cancel</button>
    <button type="button" class="button-flat button-blue" (click)="c('Close click')">Share</button>
  </div>
</ng-template>

<ng-template #cancelBookingModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title question">Are you sure you want to cancel this booking?</h4>
  </div>
  <div class="modal-body d-flex flex-column align-items-start justify-content-center">
    <span class="order-id">Trip ID : {{ selectedTrip.orderId }}</span>
    <span class="warning-alert w-100">
      <span class="warning">
        <img src="/assets/Assets-Common/RedError@2x.png" alt="">
      </span>
      <span class="message">Warning! This cannot be undone.</span>
    </span>
  </div>
  <div class="modal-footer">
    <button type="button" class="button-flat" (click)="d('Cross click')">No</button>
    <button type="button" class="button-flat button-blue" (click)="c('Close click')">Yes</button>
  </div>
</ng-template>

<ng-template #rebook let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Rebook Trip</h4>
  </div>
  <div class="modal-body d-flex flex-column alight-items-center justify-content-center" style="padding:20px 33px 10px 33px;">
    <span class="order-id">Trip ID : {{ selectedTrip.orderId }}</span>
    <date-picker [(ngModel)]="datetime" mode="datetime" name="date" showClearButton="false" [showClearButton]="false" format="MMM DD YYYY h:mm:ss A"></date-picker>
  </div>
  <div class="modal-footer">
    <button type="button" class="button-flat" (click)="d('Cross click')">Cancel</button>
    <button type="button" class="button-flat button-blue" (click)="c('Close click')">Rebook</button>
  </div>
</ng-template>

<ng-template #tripRebookCreated let-c="close" let-d="dismiss">

  <div class="modal-header black with-confirm">
    <div class="header-holder w-100 d-flex flex-column align-items-center justify-content-center">

      <div class="checker w-100 d-flex justify-content-center">
        <img src="/assets/Assets-Common/ConfirmDone@2x.png" alt="">
      </div>

      <div class="head-modal d-flex flex-column align-items-center justify-content-center">
        <h4 class="modal-title">Your trip is rebooked</h4>
        <span class="order-id">Booking ID : {{ bookingId }}</span>
      </div>

    </div>
  </div>

  <div class="modal-body black">

    <div class="qr-section">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <ngx-qrcode [qrc-value]="trackingURL"> </ngx-qrcode>

        <div class="text">
          <span>Scan to track on phone</span>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer black">
    <button type="button" class="button-flat button-blue" (click)="c('Close click'); moveTostartPage()">Go back to home page</button>
  </div>
</ng-template>
