<div class="stops" [ngClass]="{overflowScroll: overflowScroll}">

  <div class="before-pickup d-flex flex-column align-items-start" *ngIf="trip.status=='ongoing' && trip.pickUp.status=='pending'">
    <span class="before-pickup-text">On the way to pickup point</span>
    <app-distance-done [finished]="trip.pickup_distance_done" [small]="true"
                       [estimation]="trip.pickup_distance" [color]="'#FF6E80'"></app-distance-done>
  </div>

  <div class="stop">
    <app-detail-stop [stop]="trip.pickUp" [name]="'pickup'" [index]=""></app-detail-stop>
  </div>

  <div class="stop" *ngFor="let stop of trip.stops; let i = index;">
    <app-detail-stop [stop]="stop" [name]="'stop'" [index]="i + 1"></app-detail-stop>
  </div>

  <div class="stop">
    <app-detail-stop [stop]="trip.dropoff" [lastStop]="true" [index]="" [name]="'dropoff'"></app-detail-stop>
  </div>

</div>
