<div class="stops" [ngClass]="{overflowScroll: overflowScroll}">

  <div class="stop">
    <app-detail-stop [stop]="trip.pickUp" [pickup]="trip.pickUp.name" [index]="1"></app-detail-stop>
  </div>

  <div class="stop" *ngFor="let stop of trip.stops; let i = index;">
    <app-detail-stop [stop]="stop" [index]="i + 2"></app-detail-stop>
  </div>

  <div class="stop">
    <app-detail-stop [stop]="trip.dropoff" [lastStop]="true" [index]="trip.stops.length + 2" [pickup]="trip.dropoff.name"></app-detail-stop>
  </div>

</div>

