<div class="trips-header d-flex flex-column">

  <div class="trips-head d-flex flex-row align-items-center justify-content-between">

    <h1>My Trips</h1>

    <div class="button-holder d-flex ">
      <div class="quick-book-holder">

        <button class="button-flat button-with-width" (click)="toggleQuckBook()">Quick Book</button>

        <div class="quick-book" *ngIf="quickBook">

          <form (submit)="createQuickBook(tripCreated)" class="d-flex flex-column align-items-start justify-content-center">

            <div class="input-autocomplete">
              <input auto-complete type="text" [(ngModel)]="fromLocation" name="fromLocation" placeholder="Type From saved Locaton"
                     [source]="locations" [value-formatter]="valueFormatter" [list-formatter]="listFormatter">
            </div>

            <div class="input-autocomplete">
              <input auto-complete type="text" [(ngModel)]="toLocation" name="toLocation" placeholder="Type To saved Locaton"
                     [source]="locations" [value-formatter]="valueFormatter" [list-formatter]="listFormatter">
            </div>

            <div ngbDropdown placement="bottom-left" class="d-inline-block">
              <button type="button" class="button-flat" id="dropdownFirst" ngbDropdownToggle>{{ truckTypeParamLabel }}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownFirst">
                <button type="button" class="dropdown-item" [ngClass]="{'active': opt.value === truckTypeParamVal}" (click)="selectSecondParam(opt)"
                        *ngFor="let opt of truckTypeOptions">{{ opt.label}}</button>
              </div>
            </div>

            <div class="buttons-holder d-flex align-items-center justify-content-end">
              <button type="button" class="button-flat button-with-width" (click)="toggleQuckBook()">Cancel</button>
              <input class="button-flat button-blue button-with-width button-blue" type="submit" value="Book">
            </div>

          </form>

        </div>
      </div>

      <div class="new-trip-holder">
        <button class="button-flat button-flat-out">Book a new trip</button>
      </div>
    </div>

  </div>

  <ul class="nav">
    <li class="nav-item" (click)="changeTab(tabs.Current)">
      <a class="nav-link" [ngClass]="{active: currentTab === tabs.Current}">Current</a>
    </li>
    <li class="nav-item" (click)="changeTab(tabs.PastTrips)">
      <a class="nav-link" [ngClass]="{active: currentTab === tabs.PastTrips}">Past trips</a>
    </li>
    <li class="nav-item" (click)="changeTab(tabs.Upcoming)">
      <a class="nav-link" [ngClass]="{active: currentTab === tabs.Upcoming}">Upcoming</a>
    </li>
  </ul>

</div>

<ng-template #tripCreated let-c="close" let-d="dismiss">

  <div class="modal-header black">
    <div class="header-holder w-100 d-flex flex-column align-items-center justify-content-center">

      <div class="checker w-100 d-flex justify-content-center">
        <img src="/assets/Assets-Common/ConfirmDone@2x.png" alt="">
      </div>

      <div class="head-modal d-flex flex-column align-items-center justify-content-center">
        <h4 class="modal-title">Your trip is complete</h4>
        <span class="order-id">Booking ID : {{ bookingId }}</span>
      </div>

    </div>
  </div>

  <div class="modal-body black">

    <div class="qr-section">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <ngx-qrcode [qrc-value]="trackingURL"> </ngx-qrcode>

        <div class="text">
          <span>Scan to track on phone</span>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer black">
    <button type="button" class="button-flat button-blue" (click)="c('Close click'); moveTostartPage()">Go back to home page</button>
  </div>
</ng-template>
