.upcoming-trips {
  margin: 30px 42px;
  box-shadow: 1px 1px 3px 0 #cecece;
  background-color: white;
  position: relative;
  padding: 12px 15px 12px 12px;
}

@media screen and (max-width: 767px){
  .upcoming-trips {
    margin: 10px 12px !important;
  }
}
