.upcoming-trips {
  margin: 30px 42px;
  box-shadow: 1px 1px 3px 0 #cecece;
  background-color: white;
  position: relative;
  padding: 12px 15px 12px 12px;

  span {
    color: #4E5454;
    font-size: 20px;
    font-weight: 300;
    line-height: 29px;
  }
}

@media screen and (max-width: 767px){
  .upcoming-trips {
    margin: 10px 12px !important;
  }
}
