<div class="current-trip d-flex justify-content-stretch">

  <div class="sidebar d-flex flex-column align-items-stretch justify-content-start">

    <div class="head d-flex align-items-center justify-content-start">
      <div class="logo" (click)="moveTostartPage()">
        <img src="/assets/Assets-Common/Logo.png" alt="">
      </div>
      <span>
        Tracking trip: <span>{{ trip.orderId }}</span>
      </span>
    </div>

    <div class="main-info d-flex flex-column align-items-start justify-content-start">
      <span class="direction">{{ trip.headerFrom }} to {{ trip.headerTo }}, {{ trip.city }}</span>

      <app-distance-done *ngIf="!isPast" [small]="true" [estimation]="trip.estimatedDistance" [finished]="trip.finishedDistance"></app-distance-done>
      <span class="past" *ngIf="isPast">{{ trip.estimatedDistance }}kms</span>

      <div class="d-flex w-100 align-items-center justify-content-between">

        <div class="driver-holder d-flex flex-column align-items-start justify-content-center">
          <div class="driver-name-hor d-flex align-items-start justify-content-center">
            <div class="driver-hor d-flex align-items-center justify-content-center">
              <img src="/assets/Assets-Where-Section/Contact@2x.png" alt="">
              <span class="label">Driver: </span>
            </div>

            <span class="name">{{ trip.drivenName }}</span>
          </div>

          <div class="driver-mobile-hor d-flex align-items-center justify-content-start">
            <div class="driver-hor d-flex align-items-center justify-content-center">
              <img src="/assets/Assets-Where-Section/MakeCall@2x.png" alt="">
            </div>

            <span class="mobile">{{ trip.driverMobile }}</span>
          </div>
        </div>

        <div class="truck-type-hor d-flex align-items-center justify-content-center">
          <div class="crop" style="background-color: rgb(216, 216, 216)">
            <img src="" alt="">
          </div>

          <span>{{ trip.truckType }}</span>
        </div>

      </div>

    </div>

    <app-detail-stops [trip]="trip"></app-detail-stops>

  </div>

  <div class="map">
    <app-map [trip]="trip"></app-map>

    <div class="cost d-flex align-items-start justify-content-start">
      <div class="price d-flex flex-column align-items-start justify-content-start" *ngIf="!isPast">
        <span class="label">Price</span>
        <span class="currency"><img class="rupee" src="/assets/Assets/White_Indian_Rupee_symbol.png" alt="">{{ trip.price }}</span>
      </div>

      <div class="estimate d-flex flex-column align-items-start justify-content-start" *ngIf="!isPast">
        <span class="label">Total Estimate</span>
        <span class="currency"><img class="rupee" src="/assets/Assets/White_Indian_Rupee_symbol.png" alt="">{{ trip.estimate }}</span>
      </div>

      <div class="paid-money d-flex flex-column align-items-start justify-content-start" *ngIf="isPast">

        <span class="label">Total Cost</span>

        <div class="d-flex align-items-center justify-content-start">
          <span class="currency"><img class="rupee" src="/assets/Assets/White_Indian_Rupee_symbol.png" alt="">{{ trip.price }}</span>
          <button class="button-flat empty button-blue" *ngIf="trip.price >= 900">Make Payment</button>
          <button class="button-flat empty disabled" disabled *ngIf="trip.price < 900">Paid</button>
        </div>

      </div>

    </div>

    <div class="user d-flex align-items-center justify-content-center">
      <img class="notifications" src="/assets/Assets-Common/Notifications.png">
      <div class="user-profile d-flex align-items-center justify-content-start">

        <div class="crop">
          <img src="https://image.freepik.com/free-icon/business-person-silhouette-wearing-tie_318-49988.jpg" alt="">
        </div>

        <span class="user-text">Mithun Srivatsa</span>
        <img class="dropdown" src="/assets/Assets/DropDown.png">
      </div>

    </div>

    <div class="buttons-holder">
      <div class="d-flex align-items-center justify-content-center" *ngIf="!isPast">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/65/QR_code_for_QRpedia.png" alt="">

        <div class="text">
          <span>Scan to track on phone</span>
        </div>
      </div>

      <div class="buttons d-flex align-items-center justify-content-center" *ngIf="isPast">
        <button class="button-flat">Print Invoice</button>
        <button class="button-flat">Email Invoice</button>
        <button class="button-flat button-flat-out">Rebook</button>
      </div>
    </div>
  </div>
</div>
