.current-trip {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;

  .sidebar {
    width: 350px;
    height: 100%;
    background-color: rgb(240, 245, 247);
    box-shadow: 0 0 5px 3px #cecece;
    position: absolute;

    .head {
      font-size: 17px;
      font-weight: 700;
      color: darkslategray;
      background: white;
      border-bottom: 1px solid #e4e4e4;

      .logo {
        img {
          padding: 10px;

          &:hover {
            cursor: pointer;
            background-color: rgb(240, 245, 247);
          }
        }
      }
    }

    .main-info {
      padding: 10px 10px 10px 14px;
      background-color: white;
      border-bottom: 1px solid #e4e4e4;

      app-distance-done {
        margin: 8px 0;
      }

      .past {
        font-size: 15px;
        font-weight: 600;
        color: #fc3446;
        padding: 8px 0;
      }

      .direction {
        font-size: 14px;
        font-weight: 700;
        color: rgb(14, 114, 182);
      }

      .truck-type-hor {
        margin-left: 10px;
        padding-right: 15px;

        span {
          font-size: 15px;
          font-weight: 600;
          color: #5e5e5e;
        }
      }

      .driver-name-hor, .driver-mobile-hor {
        margin: 5px 0;

        .name, .mobile {
          font-size: 14px;
          font-weight: 700;
          color: #5e5e5e;
          padding: 0 16px 0 7px;
        }

        img {
          height: 22px;
        }

        .name {
          padding-top: 1px;
        }

        .label {
          color: #747e7f;
          font-size: 14px;
          padding: 0 0 0 7px;
        }
      }

      .crop {
        position: relative;
        width: 35px;
        height: 35px;
        overflow: hidden;
        border-radius: 50%;
        margin: 0 10px 0 0;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

  }

  app-map {
    height: 100%;
    width: 100%;
  }

  .map {
    margin-left: 350px;
    width: calc(100% - 350px);
    height: 100%;
    position: relative;

    .cost {
      position: absolute;
      top: 10px;
      left: 20px;
      padding: 5px 14px;
      background-color: black;
      opacity: 0.7;

      .estimate {
        padding: 0 0 2px 20px;
      }

      .label {
        color: bisque;
        font-size: 13px;
      }

      .currency {
        color: white;
        font-size: 17px;
        font-weight: 800;
        line-height: 18px;
        padding: 5px 0 10px 0;

        img {
          height: 16px;
          padding-bottom: 3px;
        }
      }
    }

    .user {
      position: absolute;
      top: 10px;
      right: 20px;
      padding: 5px 14px;

      .notifications {
        margin-right: 10px;
        height: 27px;
      }

      .user-profile {
        bottom: 0;
        left: 0;
        padding: 8px 3px 8px 7px;
        background-color: rgb(255, 255, 255);
        cursor: pointer;

        .crop {
          position: relative;
          width: 21px;
          height: 21px;
          overflow: hidden;
          border-radius: 50%;
          margin: 0 10px 0 0;

          img {
            width: 100%;
            height: auto;
          }
        }

        .user-text {
          font-weight: 600;
          font-size: 13px;
        }

        .dropdown {
          height: 22px;
        }
      }
    }

    .buttons-holder {
      position: absolute;
      bottom: 20px;
      right: 85px;
      padding: 7px 12px 7px 3px;
      background-color: #ffffff;
      box-shadow: 0 0 5px 3px #cecece;

      img {
        height: 60px;
      }
      .text {
        line-height: 1;
        max-width: 100px;

        span {
          color: #646464;
        }
      }

      .buttons button {
        margin: 0 8px;

        &.button-flat-out {
          margin-right: 0;
        }
      }
    }

    .paid-money {
      .currency {
        padding-top: 7px;
      }
    }
  }
}


.button-flat {
  padding: 8px 8px;
  border: 1px solid rgba(0, 0, 0, 0.39);
  font-size: 13px;
  background-color: white;
  font-weight: 600;
  color: #646464;
  outline: none;
  cursor: pointer;

  &.button-blue {
    border: 1px solid rgb(128, 230, 247);
    background-color: rgb(247, 251, 252);
    color: rgb(14, 134, 172);
  }

  &:hover {
    background-color: rgb(135, 233, 255);
    border: none;
    padding: 9px 9px;
    color: black;
  }

  &[disabled] {
    padding: 6px 8px;
    border:none;
    background-color: white;
    color: #adbcbd;
    font-size: 17px;

    &:hover {
      border:none;
      background-color: white;
      color: #adbcbd;
      cursor: inherit;
      padding: 6px 8px;
    }
  }

  &.empty {
    padding: 3px 8px;
    margin: 5px 0 7px 11px;
    background: transparent;
    color: white;
    border-color: white;
    font-size: 12px;
    font-weight: 700;

    &:hover {
      border: none;
      background-color: #87e9ff;
      color: black;
      padding: 4px 9px;
    }
  }
}

.button-flat-out {
  padding: 9px 26px;
  background-color: rgb(135, 233, 255);
  border: none;
  color: black;
  margin-left: 6px;
  font-weight: 800;

  &:hover {
    padding: 8px 25px;
    background-color: white;
    color: #646464;
    border: 1px solid rgba(0, 0, 0, 0.39);
  }
}

.modal-content {
  border-radius: 0;
  box-shadow: 0 1px 12px 1px;
  border: none;
}

.modal-header {
  padding: 20px 0 0 35px;
  border: none;

  h4 {
    font-size: 17px;
    font-weight: 800;
    color: rgb(12, 133, 171);

    &.question {
      color: black;
    }
  }
}

.modal-body {
  padding: 0 33px 0 33px;

  .order-id {
    font-size: 14px;
    font-weight: 600;
    padding: 5px 0;
  }

  .warning-alert {
    padding: 6px 7px;
    margin: 25px 0;
    background-color: rgb(255, 230, 238);
    color: rgb(216, 55, 69);;

    .warning {
      img {
        height: 50px;
      }
    }
  }
}

.modal-footer {
  border: none;
  padding: 25px 30px;

  .button-flat {
    padding: 7px 21px;
    font-weight: 800;

    &:hover {
      padding: 8px 22px;
    }
  }
}


.modal-header.black {
  padding: 0;
  background-color: rgba(45, 47, 48, 0.94);

  .header-holder {


    .checker {
      position: relative;
      height: 100px;
      background-color: rgb(41, 49, 51);

      img {
        position: absolute;
        margin-top: 35px;
        height: 110px;
      }
    }

    .head-modal {
      padding: 30px 0 20px 0;

      .modal-title {
        color: white;
        font-weight: 200;
        font-size: 22px;
      }
      .order-id {
        color: white;
        font-size: 12px;
        font-weight: 800;
        text-transform: uppercase;
      }
    }
  ;
  }
}

.modal-body.black {
  background-color: rgba(45, 47, 48, 0.94);
  border: none;

  .paid-money {
    margin-bottom: 20px;

    .label {
      color: #b8c0c2;
      font-size: 17px;
      font-weight: 300;
    }

    .currency{
      padding-bottom: 3px;
      padding-left: 5px;
      opacity: 0.65;

      img {
        height: 16px;
      }
    }

    .border-holder {
      padding: 30px 20px;
      border-top: 1px solid #b6b6b6;
      border-bottom: 1px solid #b6b6b6;
    }

    .price-val {
      font-weight: 800;
      color: #b8c0c2;
      font-size: 19px;
      padding-bottom: 3px;
      line-height: 1;
    }

    .past {
      color: #b8c0c2;
      font-weight: 100;
    }
  }

  .direction {
    padding-left: 20px;
    font-size: 18px;
    font-weight: 300;
    color: #b8c0c2;
  }

  .driver-info {
    padding: 10px 30px 20px 15px;
    border-bottom: 1px solid #b6b6b6;

    .truck-type-hor {
      color:#b8c0c2;
    }

    .driver-name-hor, .driver-mobile-hor {
      margin: 5px 0;

      .name, .mobile {
        font-size: 14px;
        font-weight: 700;
        color: #b8c0c2;
        padding: 0 16px 0 7px;
      }

      img {
        height: 22px;
      }

      .name {
        padding-top: 1px;
      }

      .label {
        color: #b8c0c2;
        font-size: 14px;
        padding: 0 0 0 7px;
      }
    }

    .crop {
      position: relative;
      width: 35px;
      height: 35px;
      overflow: hidden;
      border-radius: 50%;
      margin: 0 10px 0 0;

      img {
        width: 100%;
        height: auto;
      }
    }

  }
}

.modal-footer.black {
  background-color: rgba(45, 47, 48, 0.94);

  button {
    margin: 0 auto;
    border: none;
    background: transparent;
    font-size: 16px;
    font-weight: 400;
    color: #b8c0c2;
    padding: 7px 21px;

    &:hover {
      padding: 7px 21px;
    }
  };

}

@media screen and (max-width: 767px) {
  .map {
    display: none;
  }

  .sidebar {
    width: 100% !important;
  }

  .mini-map {
    height: 150px;
    width: 100%;
  }

  .modal-body {
    padding: 0 10px 0 10px !important;
  }
}

@media screen and (min-width: 768px) {
  .mini-map {
    display: none;
  }
}
