.progress-holder {


  .info {
    color: #4E5454;
    font-size: 18px;
    line-height: 27px;
    padding: 0 8px 3px 0;

    &.small-txt {
      font-size: 14px;
    }
  }

  .progress-distance {
    position: relative;
    width: calc(100% - 126px);
    height: 8px;
    overflow: hidden;
    background-color: #747e7f;

    .done {
      position: absolute;
      height: 8px;
    }
  }
}

.nofull-width {
  width: 190px !important;
}

@media screen and (max-width: 340px) {
  .nofull-width {
    width: 140px !important;
  }
}
